

{% extends "layout.html" %}

<body>
{% block content %}
  <form action="/add_review_to_db" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Artisti: <br />
      <input type="text" name="artist" />
    </p>
    <p>
      Albumin nimi: <br />
      <input type="text" name="album" />
    </p>
    <p>
      Genre: <br />
      <input type="text" name="genre" />
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="number" name="year" />
    </p>
    <p>Arvio:</p>
    <p>
      <input type="radio" name="rating" value=1 /> 1
      <input type="radio" name="rating" value=2 /> 2
      <input type="radio" name="rating" value=3 /> 3
      <input type="radio" name="rating" value=4 /> 4
      <input type="radio" name="rating" value=5 /> 5
    </p>
    <input type="submit" value="Lähetä arvostelu" />
  </form>
{% endblock %}
</body>

</html>
