{% extends "layout.html" %}

{% block content %}
  {% if session.username %}
    <p>
    <ul>
      <li> <a href="/add_review">Arvioi albumi tai päivitä edellinen arvio</a></li>
      <li> <a href="/search">Etsi</a></li>
    </ul>
    </p>
  <h2>Top 10 albumit</h2>
    
  <pre>
    <table>
    <tr>
        <th>Artisti</th>
        <th>Albumi</th>
        <th>Genre</th>
        <th>Vuosi</th>
        <th>Arvioiden keskiarvo</th>
    </tr>
    {% for row in reviews %}
    <tr>
        <td><a href="/artist/{{ row[0] }}">{{ row[0] }}</a></td>
        <td><a href="/album/{{ row[1] }}">{{ row[1] }}</a></td>
        <td><a href="/genre/{{ row[2] }}">{{ row[2] }}</a></td>
        <td><a href="/year/{{ row[3] }}">{{ row[3] }}</a></td>
        <td> {{ row[4] }}</td>
    </tr>
    {% endfor %}
</table>
  </pre>

  {% endif %}
{% endblock %}
