
{% extends "layout.html" %}

<body>
{% block content %}
  <form action="/search_results" method="post">
    <p>
      Hakutermi: <br />
      <input type="text" name="search_variable" />
    </p>

    <p>Arvio:</p>
    <p>
      <input type="radio" name="search_type" value="artist" /> Artisti
      <input type="radio" name="search_type" value="album" /> Albumi
      <input type="radio" name="search_type" value="genre" /> Genre
      <input type="radio" name="search_type" value="year" /> Vuosi
    </p>
    <input type="submit" value="Etsi" />
  </form>
{% endblock %}
</body>

</html>


