
{% extends "layout.html" %}

<body>
{% block content %}
  <form action="/search_db" method="post">
    <p>
      Hakutermi: <br />
      <input type="text" name="search_variable" />
    </p>

    <p>Arvio:</p>
    <p>
      <input type="radio" name="search_type" value="artists.name" /> Artisti
      <input type="radio" name="search_type" value="albums.name" /> Albumi
      <input type="radio" name="search_type" value="genres.name" /> Genre
    </p>
    <input type="submit" value="Etsi" />
  </form>
{% endblock %}
</body>

</html>


