{% extends "layout.html" %}

<body>
{% block content %}

{% if username == session.username %}

  <h2> Omat arviot:</h2>

{% else %}

  <h2> Käyttäjän {{ username }} arviot:</h2>

{% endif %}
<form action="/delete_review/<review_id>" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

    <table>
    <tr>
        <th>Artisti</th>
        <th>Albumi</th>
        <th>Genre</th>
        <th>Vuosi</th>
        <th>Arvio</th>
        {% if username == session.username %}
          <th>Poista arvio</> 
          <th>Muokkaa arviota</>
        {% endif %}
 </tr>
    {% for row in reviews %}
    <tr>
        <td><a href="/artist/{{ row[0] }}">{{ row[0] }}</a></td>
        <td><a href="/album/{{ row[1] }}">{{ row[1] }}</a></td>
        <td><a href="/genre/{{ row[2] }}">{{ row[2] }}</a></td>
        <td><a href="/year/{{ row[3] }}">{{ row[3] }}</a></td>
        <td> {{ row[4] }}</td>
        {% if username == session.username %}
        <td>
          <form action="/delete_review/{{ row[5] }}" method="post" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit" onclick="return confirm('Haluatko varmasti poistaa tämän arvion?')">Poista</button>
          </form>
        </td>


          <td>
            <form action="/modify_review/{{ row[5] }}" method="post" style="display:inline;">
              <button type="submit">Muokkaa</button></a>
            </form>
          </td>
        {% endif %}
    {% endfor %}
    </tr>
</table>

{% endblock %}

{% if session.username %}
{% endif %}
