{% extends "layout.html" %}

<body>
{% block content %}

{% if username == session.username %}

  <h2> Omat arviot:</h2>

{% else %}

  <h2> Käyttäjän {{ username }} arviot:</h2>

{% endif %}


    <table border="1">
    <tr>
        <th>Artisti</th>
        <th>Albumi</th>
        <th>Genre</th>
        <th>Vuosi</th>
        <th>Arvio</th>
        <th>Poista arvio</> 
        <th>Muokkaa arviota</>  
 </tr>
    {% for row in reviews %}
    <tr>
        <td><a href="/artist/{{ row[0] }}">{{ row[0] }}</a></td>
        <td><a href="/album/{{ row[1] }}">{{ row[1] }}</a></td>
        <td><a href="/genre/{{ row[2] }}">{{ row[2] }}</a></td>
        <td><a href="/year/{{ row[3] }}">{{ row[3] }}</a></td>
        <td> {{ row[4] }}</td>
        <td><a href="/delete_review/{{ row[5] }}">Poista</a></td>
        <td><a href="/modify_review/{{ row[5] }}">Muokkaa</a></td>
        
    {% endfor %}
    </tr>
</table>

{% endblock %}

{% if session.username %}
{% endif %}
